.highlight-text {
  background: linear-gradient(90deg, #f9572a, #ff8a05);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.statistics {
  padding: 2rem;
  max-width: 1300px;
  margin: 0 auto;
  font-family: sans-serif;
}

.total-tasks > * {
  margin: 10px;
  color: #ff8a05;
}

.low-priority {
  color: green;
}

.medium-priority {
  color: orange;
}

.high-priority {
  color: red;
}

.statistics h1,
.statistics h2,
.statistics h3 {
  text-align: center;
}

.statistics h1 {
  padding-bottom: 30px;
}

.statistics h2 {
  padding: 2px;
  margin: 10px;
}

.section {
  margin-bottom: 2rem;
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}

.taskTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.taskTable th,
.taskTable td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: left;
}

.taskTable th {
  background-color: #ee930a83;
}
