.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: rgba(255, 255, 255, 0.753);
  border-radius: 10px;
  padding: 20px;
  width: 600px;
  max-height: 90vh;
  overflow-y: auto;
  position: relative;
}

.modal-field {
  margin-bottom: 15px;
}

.modal-field label {
  display: block;
  margin-bottom: 5px;
  color: #2c333d;
  font-weight: bold;
}

.modal-field input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: none;
  color: #2c333d;
}

.modal-field select {
  margin-bottom: 5px;
}

.modal-field select option {
  border: none;
  border-radius: 5px;
}

.title {
  color: #282c34;
  text-align: center;
  margin-bottom: 10px;
}

.edit-priority {
  background-color: #f7f7f7;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

.edit-priority option {
  background-color: #fff;
  color: #333;
  padding: 8px;
}

.select-wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.select-wrapper::after {
  content: "▼";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #333;
}

.modal-actions {
  display: flex;
  justify-content: space-between;
}

.close-btn,
.save-btn {
  width: 150px;
  height: 30px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  color: #282c34;
  font-size: 1rem;
  transition: background-color 0.5s ease;
}

.close-btn:hover {
  background-color: rgba(223, 12, 12, 0.5);
}

.save-btn:hover {
  background-color: rgba(102, 255, 102, 0.479);
}
