.sidebar {
  position: fixed;
  width: 60px;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 100;
  background-color: #2c333d;
  box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
  overflow: hidden;
  cursor: pointer;
  transition: width 0.3s ease;
}

.sidebar:hover {
  width: 200px;
}

.sidebar-list {
  padding-top: 70px;
  list-style-type: none;
}

.sidebar-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}

.sidebar-item a {
  position: relative;
  display: block;
  transition: all 0.3s ease;
  padding-left: 10px;
  font-size: 1.2rem;
  width: 130px;
}

.sidebar-item a::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 2px;
  background: radial-gradient(
    circle at 94.02% 88.03%,
    #ffaf54a8,
    transparent 100%
  );
  opacity: 0;
  transition: all 0.5s ease;
  z-index: -10;
}

.sidebar-item:hover a::after {
  opacity: 1;
}

.sidebar .icon {
  width: 30px;
}
